.git
.github

**/.DS_Store

**/node_modules
**/dist

cli/dist-exe
cli/release-artifacts

cli/**
!cli/package.json
!cli/bunfig.toml
!cli/tsconfig.json
!cli/src/**
!cli/scripts/**
!cli/tools/licenses/**
!cli/tools/archives/difftastic-LICENSE
!cli/tools/archives/ripgrep-LICENSE
!cli/tools/archives/*.tar.gz

**/*.log

**/.env
**/.env.*

.factory
